# Database
DATABASE_URL=postgresql://maritare:devpass@localhost:5432/maritare_dev

# Auth.js v5
AUTH_SECRET=          # generate: openssl rand -base64 32
AUTH_URL=http://localhost:3000
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Cloudflare R2
R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET=maritare-media-dev
R2_PUBLIC_URL=         # nanti pakai custom domain di Cloudflare

# Midtrans
MIDTRANS_SERVER_KEY=
MIDTRANS_CLIENT_KEY=
MIDTRANS_IS_PRODUCTION=false

# Fonnte (WhatsApp)
FONNTE_TOKEN=

# Resend
RESEND_API_KEY=
RESEND_FROM_EMAIL=hello@maritare.id

# Redis (lokal via docker)
REDIS_URL=redis://localhost:6379

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
